* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  --blue: #293264;
  --white: #F5F7FB;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 20px;
}



button {
  border-radius: 10px;
  font-size: 1.1rem;
  border: 1px solid var(--blue);
  background-color: white;
  color: var(--blue);
  padding: 10px;
  font-weight: 300;

}



.question-page, .new-quiz-page {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
   justify-content: space-between; /*wont see til fix size */
  align-items: center;
  padding: 20px;
}




.answer-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}